* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(255, 121, 121, 0.75), rgba(255, 121, 121, 0.75)),  url(./images/bg-intro-mobile.png);
    background-size: contain;
    background-blend-mode: multiply;
    display: flex;
    width: 100%;
}
main {
    margin: auto;
    width: 375px;
    text-align: center;
}
h1, .blue, .form, p {
    width: 327px;
}
h1, .blue, .blue p {
    margin: auto;
}
h1 {
    padding: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.29px;
    margin-top: 1em;
}
p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 1.5em auto 3em auto;
}
.blue {
    margin: 4em auto auto auto;
    background-color: #5E54A4;
    border-radius: 10px;
    height: 88px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    padding: 1em;
    font-weight: 500;
    width: 327px;
    line-height: 26px;
    letter-spacing: 0.27px;
    font-size: 15px;
}
.tryit {
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.27px;
}
.form {
    margin: 2em auto auto auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 1.3em;
    height: 442px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-bottom: em;
}
::placeholder {
    font-weight: 600;
    font-size: 14px;
    color: #3D3B48;
    line-height: 26px;
    letter-spacing: 0.25px;
    opacity: 0.75;
}
input {
    width: 279px;
    height: 56px;
    padding-left: 1em;
    margin-bottom: .4em;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
}
button {
    background-color: #38CC8B;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border-radius: 5px;
    height: 56px;
    width: 279px;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    cursor: pointer;
}
.form p {
    font-weight: 500;
    font-size: 11px;
    line-height: 21px;
    color: #BAB7D4;
    width: 249px;
    margin-top: .7em;
}
.terms {
    font-weight: 700;
    color: #FF7979;
}
.error {
    visibility: hidden;
    color: #FF7979;
    text-align: right;
    font-size: 11px;
    font-weight: 500;
    line-height: 16.5px;
}
.exclamation {
    display: none;
    color: #FFFFFF;
    background-color: #FF7979;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    margin: -3.4em 0 0 27em
}
.attribution {
    display: none;
}

/* desktop view */
@media only screen and (min-width: 1000px) {
    body {
        background-image: linear-gradient(rgba(255, 121, 121, 0.75), rgba(255, 121, 121, 0.8)),  url(./images/bg-intro-desktop.png);
    }
    main {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 550px 600px;
        justify-content: center;
    }
    .left {
        grid-area: -2 / 1;
        margin: auto;
        width: 525px;
    }
    .left p {
        text-align: left;
        width: 525px;
    }
    h1 {
        font-size: 50px;
        width: 525px;
        line-height: 55px;
        text-align: left;
    }
    .right {
        margin: auto;
        width: 540px;
    }
    .blue {
        width: 540px;
        height: 60px;
        font-weight: 500px;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
        margin: 2.5em 0 0 0;
    }
    .blue p {
        display: inline;
        font-weight: 400;
    }
    .form {
        width: 540px;
        height: 100%;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
        padding: 2.5em 1.4em 1.4em 1.4em;
        margin-top: 1.5em;
    }
    input {
        width: 460px;
        margin-bottom: 20px;
    }
    input:focus{
       border: 1px solid #5E54A4;
       border-radius: 5px;
       outline: none;
    }
    button {
        width: 460px;
    }
    button:hover {
        background-color: #77E2B3;
    }
    .form p {
        line-height: 26px;
        width: 400px;
    }
    .error {
        margin-right: 1.9em;
        margin-top: -1.5em;
        padding: .3em 0 .3em 0;
    }
}